@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --font-sans: var(--outfit-font);
  --font-serif: var(--ovo-font);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif), Georgia, serif;
}
